.container {
    border: 1px solid gainsboro;
    display: flex;
  }
  
  .container-item {
    display: flex;
    width: 70%;
  }
  
  .goods {
    margin-top: 20px;
    width: 60%;
    margin-left: 20px;
  }
  
  .line {
    color: #fff;
    font-weight: 600;
    width: 70%;
    height: 30px;
    background-color: #185fb7;
  }
  
  .item {
    margin-bottom: 20px;
    width: 90%;
    padding: 0.5rem;
    align-items: center;
    justify-content: center;
    border: 1px solid black;
    text-align: center;
  }
  
  .item span {
    color: red;
    font-weight: 800;
  }
  
  .line-through {
    text-decoration: line-through;
    color: rgb(104, 93, 93);
  }
  
  .video {
    position: absolute;
    left: 45%;
    top: 25.2%;
    width: 30%;
  }
  
  .search {
    width: 30%;
  }
  
  input[type="text"] {
    margin-top: 5px;
  }
  
  h2 {
    color: #fff;
  }
  
  button {
    padding: 2px;
    transform: translateX(240%);
    margin-top: 5px;
  }
  